* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.no-display {
  display: none;
}

/* BACKGROUND */
body {
  background-image: url("./images/neon-background.gif#randy");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* MASK */
#mask {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.faded-effect {
  transition: opacity 3s linear 5s;
  opacity: 0;
}

/* WIDGETS */
#widgets {
  background-color: #262626;
  width: 16vh;
  height: 4vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2vh;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 5;
  opacity: 0;
}

#widgets * {
  white-space: nowrap;
}

.widgets-expand {
  animation: resizeAnimation 0.6s ease-in-out forwards;
}

.widgets-collapse {
  animation: resizeAnimation 0.6s ease-in-out reverse forwards;
}

@keyframes resizeAnimation {
  65% {
    width: 31.5vh;
    height: 31.5vh;
    flex-direction: column;
  }

  100% {
    width: 30vh;
    height: 30vh;
    flex-direction: column;
  }
}

.widget-icon-expand {
  animation: widgetIconAnimation 0.6s ease-in-out forwards;
}

.widget-icon-collapse {
  animation: widgetIconAnimation 0.6s ease-in-out reverse forwards;
}

@keyframes widgetIconAnimation {
  35% {
    opacity: 0;
    width: 3.5vh;
    height: 3.5vh;
  }

  40% {
    opacity: 0;
  }

  60% {
    width: 4vh;
    height: 4vh;
  }

  65% {
    width: 4.1vh;
    height: 4.1vh;
  }

  100% {
    opacity: 1;
    width: 4vh;
    height: 4vh;
  }
}

#widgets .wrapper {
  display: flex;
}

#widgets .content {
  width: 0px;
  height: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#widgets .content .crypto * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#widgets .crypto {
  display: flex;
  flex-direction: column;
}

#widgets .content .column-1 {
  padding-left: 2vh;
}

#widgets .content .column-2 div {
  text-align: right;
}

#widgets .content .divider {
  flex-grow: 1;
}

#widgets .crypto .row-1 {
  font-size: 1.5vh;
}

#widgets .crypto .description {
  font-size: 1.2vh;
  color: #848e9c;
}

#widgets .crypto .row-2 {
  font-size: 1.2vh;
}

.widget-content-expand {
  animation: widgetResizeAnimation 0.6s ease-in-out 0.4s forwards;
}

.widget-content-collapse {
  animation: widgetResizeAnimation 0.21s ease-in-out reverse forwards;
}

@keyframes widgetResizeAnimation {
  1% {
    height: auto;
  }

  100% {
    width: 22vh;
    height: auto;
  }
}

.widget-icon {
  width: 2.5vh;
  height: 2.5vh;
  filter: grayscale(1) invert(1);
}

#widgets #prevent-highlight {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#widgets .weather .main-temp,
#widgets .weather .minmax-temp {
  display: flex;
}

#widgets .weather .middle-char {
  flex-grow: 1;
  text-align: center;
}

#widgets .weather .minmax-temp .middle-char {
  color: #dddddd;
}

#widgets .weather .min {
  color: #8ab7ff;
}

#widgets .weather .max {
  color: #ff9a78;
}

#widgets .weather * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#widgets .weather .main-temp {
  font-size: 1.6vh;
}

#widgets .weather .minmax-temp {
  font-size: 1.1vh;
}

#widgets .weather .weather-description {
  font-size: 1.2vh;
}

#widgets .weather .location {
  font-size: 1.4vh;
  color: #dddddd;
}

.weather-app-ids {
  display: none;
  --prop0: eyJhcHBJZHMiOlsiZjYxZWJjMGE5YmE3ZmNjZTJlNTBmNGEwMmM2ZD;
  --prop1: U2MjEiLCIzYzgzYTg4MDIyODRlOWY0ZGY0ODVlYjI3NWEyMWI4NyIs;
  --prop2: ImI3MGI2YTQ0MzI4YTg0Yjk2NzA4Yjg4ZTJkMTM1YjlkIiwiZjJiND;
  --prop3: YyZDRhNTVhMGU1ZjQ0NzVkYTgwNTEyMGFlOTciLCIxYWY5NTlhMzhi;
  --prop4: MGVmMTQ5M2ZlMDM4OWFjNGNkMjM3MSJdLCJ1cmwiOiJodHRwczovL2;
  --prop5: FwaS5vcGVud2VhdGhlcm1hcC5vcmcvZGF0YS8yLjUvd2VhdGhlciJ9;
}

#widgets .content .clock {
  margin-left: 2vh;
  flex-grow: 1;
}

#widgets .content .clock div {
  text-align: center;
  color: #ffa5eb;
}

#widgets .content .clock .row-1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5vh;
}

#widgets .content .clock .row-2 {
  font-family: "Permanent Marker", serif;
  font-size: 1.3vh;
}

/* TRACK INFO */

#track-info {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.span-for-track-info {
  display: flex;
  position: absolute;
  opacity: 0.5;
  white-space: nowrap;
}

.span-for-track-info span {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  /* fallback color when webkit is not supported */
  color: black;
  /* this will override color property if webkit is supported */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.span-for-track-info img {
  filter: grayscale(1) invert(1);
}

.tracks-info {
  display: none;
  --prop0: W3sicGF0aCI6Ii4vdHJhY2tzLzQ3Lm1wMyIsIm5hbWUiOi;
  --prop1: J0aGlzIGlzIHdoYXQgZmFsbGluZyBpbiBsb3ZlIGZlZWxz;
  --prop2: IGxpa2UiLCJhcnRpc3QiOiJKVktFIn0seyJwYXRoIjoiLi;
  --prop3: 90cmFja3MvMS5tcDMiLCJuYW1lIjoiRGV2aWwgRXllcyIs;
  --prop4: ImFydGlzdCI6IkhpcHBpZSBTYWJvdGFnZSJ9LHsicGF0aC;
  --prop5: I6Ii4vdHJhY2tzLzIxLm1wMyIsIm5hbWUiOiJSb3NlcyIs;
  --prop6: ImFydGlzdCI6IlRoZSBDaGFpbnNtb2tlcnMifSx7InBhdG;
  --prop7: giOiIuL3RyYWNrcy8zMi5tcDMiLCJuYW1lIjoiRmVlbCBH;
  --prop8: b29kIiwiYXJ0aXN0IjoiVHVuZHJhIEJlYXRzIn0seyJwYX;
  --prop9: RoIjoiLi90cmFja3MvMTAubXAzIiwibmFtZSI6IkdyYXZp;
  --prop10: dHkiLCJhcnRpc3QiOiJVbXBpcmUifSx7InBhdGgiOiIuL3;
  --prop11: RyYWNrcy80Lm1wMyIsIm5hbWUiOiJMb3ZlcmJveSIsImFy;
  --prop12: dGlzdCI6IkEtV2FsbCJ9LHsicGF0aCI6Ii4vdHJhY2tzLz;
  --prop13: UyLm1wMyIsIm5hbWUiOiJSQUdFIHcvIEx1a3JhdGl2ZSIs;
  --prop14: ImFydGlzdCI6InBhYXVzIn0seyJwYXRoIjoiLi90cmFja3;
  --prop15: MvMy5tcDMiLCJuYW1lIjoiVGhlIE90aGVyIFNpZGUgT2Yg;
  --prop16: UGFyYWRpc2UiLCJhcnRpc3QiOiJHbGFzcyBBbmltYWxzIn;
  --prop17: 0seyJwYXRoIjoiLi90cmFja3MvNTQubXAzIiwibmFtZSI6;
  --prop18: IkxpZmUgR29lcyBPbiIsImFydGlzdCI6Ik9saXZlciBUcm;
  --prop19: VlIn0seyJwYXRoIjoiLi90cmFja3MvMjYubXAzIiwibmFt;
  --prop20: ZSI6Ildhc3RlZCIsImFydGlzdCI6IkplcnJ5IFB1cnBkcm;
  --prop21: FuayJ9LHsicGF0aCI6Ii4vdHJhY2tzLzIzLm1wMyIsIm5h;
  --prop22: bWUiOiJTYXZlIFlvdXIgVGVhcnMiLCJhcnRpc3QiOiJUaG;
  --prop23: UgV2Vla25kIn0seyJwYXRoIjoiLi90cmFja3MvMTgubXAz;
  --prop24: IiwibmFtZSI6Ik9jZWFuIEV5ZXMiLCJhcnRpc3QiOiJCaW;
  --prop25: xsaWUgRWlsaXNoIn0seyJwYXRoIjoiLi90cmFja3MvMzEu;
  --prop26: bXAzIiwibmFtZSI6IkJJTExJRSBFSUxJU0giLCJhcnRpc3;
  --prop27: QiOiJBcm1hbmkgV2hpdGUifSx7InBhdGgiOiIuL3RyYWNr;
  --prop28: cy8yMi5tcDMiLCJuYW1lIjoiUnVuIEF3YXkgV2l0aCBNZS;
  --prop29: IsImFydGlzdCI6IkNhcmx5IFJhZSBKZXBzZW4ifSx7InBh;
  --prop30: dGgiOiIuL3RyYWNrcy8yLm1wMyIsIm5hbWUiOiJIZWFydG;
  --prop31: JyZWFrIEFubml2ZXJzYXJ5IiwiYXJ0aXN0IjoiR2l2ZW9u;
  --prop32: In0seyJwYXRoIjoiLi90cmFja3MvNDIubXAzIiwibmFtZS;
  --prop33: I6IkJ1aWxkIGEgQml0Y2giLCJhcnRpc3QiOiJCZWxsYSBQ;
  --prop34: b2FyY2gifSx7InBhdGgiOiIuL3RyYWNrcy82Lm1wMyIsIm;
  --prop35: 5hbWUiOiJDYW4gV2UgS2lzcyBGb3JldmVyIiwiYXJ0aXN0;
  --prop36: IjoiS2luYSJ9LHsicGF0aCI6Ii4vdHJhY2tzLzI3Lm1wMy;
  --prop37: IsIm5hbWUiOiJXaGl0ZSBHb2xkIiwiYXJ0aXN0IjoiVG9t;
  --prop38: bXkgTGp1bmdiZXJnIn0seyJwYXRoIjoiLi90cmFja3MvND;
  --prop39: QubXAzIiwibmFtZSI6IkJhYmVsIiwiYXJ0aXN0IjoiR3Vz;
  --prop40: dGF2byBCcmF2ZXR0aSJ9LHsicGF0aCI6Ii4vdHJhY2tzLz;
  --prop41: E2Lm1wMyIsIm5hbWUiOiJNaW5lIiwiYXJ0aXN0IjoiQmF6;
  --prop42: emkifSx7InBhdGgiOiIuL3RyYWNrcy8xNy5tcDMiLCJuYW;
  --prop43: 1lIjoiTm8gU3R5bGlzdCIsImFydGlzdCI6IkZyZW5jaCBN;
  --prop44: b250YW5hICYgRHJha2UifSx7InBhdGgiOiIuL3RyYWNrcy;
  --prop45: 83Lm1wMyIsIm5hbWUiOiJGYXNoaW9uIFdlZWsiLCJhcnRp;
  --prop46: c3QiOiJCbGFja2JlYXIifSx7InBhdGgiOiIuL3RyYWNrcy;
  --prop47: 8zNy5tcDMiLCJuYW1lIjoiV2FpdCBhIE1pbnV0ZSEiLCJh;
  --prop48: cnRpc3QiOiJXaWxsb3cgU21pdGgifSx7InBhdGgiOiIuL3;
  --prop49: RyYWNrcy81Lm1wMyIsIm5hbWUiOiI1MCBGZWV0IiwiYXJ0;
  --prop50: aXN0IjoiU29NbyJ9LHsicGF0aCI6Ii4vdHJhY2tzLzM4Lm;
  --prop51: 1wMyIsIm5hbWUiOiJEcmluayBBIFlhayIsImFydGlzdCI6;
  --prop52: IkppZGFub2Z1In0seyJwYXRoIjoiLi90cmFja3MvMjQubX;
  --prop53: AzIiwibmFtZSI6IlN0YXkiLCJhcnRpc3QiOiJUaGUgS2lk;
  --prop54: IExBUk9JLCBKdXN0aW4gQmllYmVyIn0seyJwYXRoIjoiLi;
  --prop55: 90cmFja3MvMTIubXAzIiwibmFtZSI6ImluIGx1diB3aXRo;
  --prop56: IHUiLCJhcnRpc3QiOiJweHp2YyJ9LHsicGF0aCI6Ii4vdH;
  --prop57: JhY2tzLzE5Lm1wMyIsIm5hbWUiOiJPbmUgTW9yZSBOaWdo;
  --prop58: dCIsImFydGlzdCI6Ik1hcm9vbiA1In0seyJwYXRoIjoiLi;
  --prop59: 90cmFja3MvMzkubXAzIiwibmFtZSI6IkNhbGwgbWUiLCJh;
  --prop60: cnRpc3QiOiI5MHNGbGF2In0seyJwYXRoIjoiLi90cmFja3;
  --prop61: MvOS5tcDMiLCJuYW1lIjoiR29vZGJ5ZXMiLCJhcnRpc3Qi;
  --prop62: OiJQb3N0IE1hbG9uZSJ9LHsicGF0aCI6Ii4vdHJhY2tzLz;
  --prop63: I4Lm1wMyIsIm5hbWUiOiJXaHkgV2UgTG9zZSIsImFydGlz;
  --prop64: dCI6IkNhcnRvb24ifSx7InBhdGgiOiIuL3RyYWNrcy81MS;
  --prop65: 5tcDMiLCJuYW1lIjoiSW50byBZb3VyIEFybXMgKE1lbG9k;
  --prop66: eSArIE5vIFJhcCkiLCJhcnRpc3QiOiJXaXR0IExvd3J5IG;
  --prop67: Z0IEF2YSBNYXgifSx7InBhdGgiOiIuL3RyYWNrcy8yOS5t;
  --prop68: cDMiLCJuYW1lIjoiSSBBaW4ndCBXb3JyaWVkIiwiYXJ0aX;
  --prop69: N0IjoiT25lUmVwdWJsaWMifSx7InBhdGgiOiIuL3RyYWNr;
  --prop70: cy8zMy5tcDMiLCJuYW1lIjoiSW4gTXkgTWluZCIsImFydG;
  --prop71: lzdCI6IkR5bm9ybyAmIEdpZ2kgRCdBZ29zdGlubyJ9LHsi;
  --prop72: cGF0aCI6Ii4vdHJhY2tzLzMwLm1wMyIsIm5hbWUiOiJTaG;
  --prop73: 93IE1lIFlvdXIgQmFjayIsImFydGlzdCI6IkZpbmRNeU5h;
  --prop74: bWUifSx7InBhdGgiOiIuL3RyYWNrcy80MC5tcDMiLCJuYW;
  --prop75: 1lIjoib3VpIiwiYXJ0aXN0IjoiSmVyZW1paCJ9LHsicGF0;
  --prop76: aCI6Ii4vdHJhY2tzLzE0Lm1wMyIsIm5hbWUiOiJJbmZpbm;
  --prop77: l0ZSIsImFydGlzdCI6IlZhbGVuY2UifSx7InBhdGgiOiIu;
  --prop78: L3RyYWNrcy8yNS5tcDMiLCJuYW1lIjoiU3RpbGwgRC5SLk;
  --prop79: UuIiwiYXJ0aXN0IjoiRHIuIERyZSJ9LHsicGF0aCI6Ii4v;
  --prop80: dHJhY2tzLzQ1Lm1wMyIsIm5hbWUiOiJBbWJpdGlvbiBGb3;
  --prop81: IgQ2FzaCIsImFydGlzdCI6IktleSBHbG9jayJ9LHsicGF0;
  --prop82: aCI6Ii4vdHJhY2tzLzM0Lm1wMyIsIm5hbWUiOiJwcm9sbH;
  --prop83: kgbXkgc3Bvb2tpZXN0IGJlYXQiLCJhcnRpc3QiOiJwcm9k;
  --prop84: Ynk2NjgifSx7InBhdGgiOiIuL3RyYWNrcy8xMy5tcDMiLC;
  --prop85: JuYW1lIjoiSW5kdXN0cnkgQmFieSIsImFydGlzdCI6Ikxp;
  --prop86: bCBOYXMgWCJ9LHsicGF0aCI6Ii4vdHJhY2tzLzU1Lm1wMy;
  --prop87: IsIm5hbWUiOiJUcmVhc3VyZSIsImFydGlzdCI6IkJydW5v;
  --prop88: IE1hcnMifSx7InBhdGgiOiIuL3RyYWNrcy80OC5tcDMiLC;
  --prop89: JuYW1lIjoiSW4gVGhlIE5hbWUgT2YgTG92ZSIsImFydGlz;
  --prop90: dCI6Ik1hcnRpbiBHYXJyaXggJiBCZWJlIFJleGhhIn0sey;
  --prop91: JwYXRoIjoiLi90cmFja3MvMjAubXAzIiwibmFtZSI6IlBl;
  --prop92: cmZlY3QgVGltZSIsImFydGlzdCI6IlRvYnkgVHJhbnRlci;
  --prop93: J9LHsicGF0aCI6Ii4vdHJhY2tzLzQ5Lm1wMyIsIm5hbWUi;
  --prop94: OiJPbmUgS2lzcyB4IEkgV2FzIE5ldmVyIFRoZXJlIiwiYX;
  --prop95: J0aXN0IjoiSWFuIEFzaGVyIn0seyJwYXRoIjoiLi90cmFj;
  --prop96: a3MvNDYubXAzIiwibmFtZSI6IkJvZHkgTGFuZ3VhZ2UgKF;
  --prop97: NpY2sgTWl4KSIsImFydGlzdCI6IlNpY2tpY2sifSx7InBh;
  --prop98: dGgiOiIuL3RyYWNrcy84Lm1wMyIsIm5hbWUiOiJHYW5nIF;
  --prop99: NoaXQgTm8gTGFtZSBTaGl0IiwiYXJ0aXN0IjoiS2V5IEds;
  --prop100: b2NrIn0seyJwYXRoIjoiLi90cmFja3MvNTMubXAzIiwibm;
  --prop101: FtZSI6ImZhbGxpbmcgZG93biIsImFydGlzdCI6InRoZW9z;
  --prop102: In0seyJwYXRoIjoiLi90cmFja3MvNDMubXAzIiwibmFtZS;
  --prop103: I6IkhlcmUgKEx1Y2lhbiBSZW1peCkiLCJhcnRpc3QiOiJB;
  --prop104: bGVzc2lhIENhcmEifSx7InBhdGgiOiIuL3RyYWNrcy81MC;
  --prop105: 5tcDMiLCJuYW1lIjoiTGFuYSBEZWwgUmV5IHggQ29vbGlv;
  --prop106: IiwiYXJ0aXN0IjoiU2lja2ljayJ9LHsicGF0aCI6Ii4vdH;
  --prop107: JhY2tzLzM1Lm1wMyIsIm5hbWUiOiJUaGVtZSBvZiBLYWdl;
  --prop108: IiwiYXJ0aXN0IjoiU29uSGlzYWtvIn0seyJwYXRoIjoiLi;
  --prop109: 90cmFja3MvMTUubXAzIiwibmFtZSI6IkxpZmUgSXMgT3Zl;
  --prop110: ciIsImFydGlzdCI6IkFuaWtkb3RlIn0seyJwYXRoIjoiLi;
  --prop111: 90cmFja3MvMTEubXAzIiwibmFtZSI6IkknbSBOb3QgVGhl;
  --prop112: IE9ubHkgT25lIiwiYXJ0aXN0IjoiU2FtIFNtaXRoIn1d;
}

/* MAIN CONTENT */
#main {
  z-index: 5;
  display: flex;
  position: absolute;
  width: 330px;
  height: 330px;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s linear;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

#disk {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  background-color: #000000;
  width: 330px;
  height: 330px;
}

.disk-animation {
  animation: disk-rotate 6s linear 8s infinite;
}

#disk-center {
  position: absolute;
  top: 115px;
  left: 115px;
  border-radius: 100%;
  background-color: red;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#disk svg {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 42px;
  left: 20px;
}

.neon-effect {
  filter: drop-shadow(0px 0px 1px #ffffff) drop-shadow(0px 0px 2px #e4e4e4) drop-shadow(0px 0px 5px #d0d0d0) drop-shadow(0px 0px 10px #b9b9b9) drop-shadow(0px 0px 20px #9e9e9e);
}

#signature {
  transform: translate(-156px, -211px);
  stroke-dasharray: 1422;
  stroke-dashoffset: 1422;
  transition: stroke-dashoffset 4s linear 1s;
}

#bass-effect,
#treble-effect {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  width: 330px;
  height: 330px;
}

#bass-effect {
  background-color: aqua;
}

#treble-effect {
  background-color: red;
}

@keyframes disk-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#main .bar {
  z-index: -1;
  border-radius: 50px;
  height: 5%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* MINI LOGO */
#mini-logo {
  position: absolute;
  bottom: 4vh;
  right: 4vh;
  z-index: -1;
  opacity: 0;
}

#mini-logo .name {
  font-family: "Playfair Display SC";
  font-size: 1.4rem;
}

@keyframes hobbiesAnimation {
  1% {
    transform: translateY(-2.7rem);
  }

  25% {
    transform: translateY(-2.7rem);
  }

  26% {
    transform: translateY(-5.4rem);
  }

  100% {
    transform: translateY(-5.4rem);
  }
}

#mini-logo .hobbies {
  overflow: hidden;
  height: 2.7rem;
  position: relative;
}

#mini-logo .hobbies div {
  position: absolute;
  left: 0px;
  top: 2.7rem;
  font-family: "Permanent Marker", serif;
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffa5eb;
}

/* CELLS */
#app {
  display: grid;
  height: 100%;
  background-size: cover;
  color: white;
  position: relative;
}

.cell {
  z-index: 3;
}

/* DOTS */
.dot {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

#app .dot {
  transition: opacity 1s linear, transform 24s linear;
  z-index: 1;
  position: absolute;
}

/* LOADING SCREEN */
#loading {
  z-index: 6;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: opacity 1s;
}

#loading * {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
}

#loading #prevent-highlight {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

#start-alert {
  opacity: 0;
  position: absolute;
  top: 80vh;
  width: 100%;
}

#start-alert * {
  font-family: sans-serif;
  text-decoration: underline;
  text-align: center;
}

#logo-container {
  position: relative;
  width: 377px;
  display: inline-block;
  transform: scale(1.5);
}

#n-container {
  position: absolute;
  top: 64px;
  left: 77px;
  font-size: 4rem;
}

#uyen-container {
  position: absolute;
  top: 64px;
  left: 190px;
  font-size: 4rem;
}

#randy-container {
  font-size: 18px;
  position: absolute;
  left: 127px;
  top: 91px;
  font-family: monospace;
  background: white;
  padding: 0px 10px;
  padding-bottom: 1px;
}

#logo-container svg {
  width: 200px;
  height: 200px;
  fill: white;
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 0 1000;
  animation: logo-rotate 1.5s 2s linear infinite alternate;
  will-change: stroke-dasharray;
}

@keyframes logo-rotate {
  100% {
    stroke-dasharray: 650 1000;
  }
}