* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.no-display {
  display: none;
}

/* BACKGROUND */
body {
  background-image: url("./images/neon-background.gif#randy");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* MASK */
#mask {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.faded-effect {
  transition: opacity 3s linear 5s;
  opacity: 0;
}

/* WIDGETS */
#widgets {
  background-color: #262626;
  width: 16vh;
  height: 4vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2vh;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 5;
  opacity: 0;
}

#widgets * {
  white-space: nowrap;
}

.widgets-expand {
  animation: resizeAnimation 0.6s ease-in-out forwards;
}

.widgets-collapse {
  animation: resizeAnimation 0.6s ease-in-out reverse forwards;
}

@keyframes resizeAnimation {
  65% {
    width: 31.5vh;
    height: 31.5vh;
    flex-direction: column;
  }

  100% {
    width: 30vh;
    height: 30vh;
    flex-direction: column;
  }
}

.widget-icon-expand {
  animation: widgetIconAnimation 0.6s ease-in-out forwards;
}

.widget-icon-collapse {
  animation: widgetIconAnimation 0.6s ease-in-out reverse forwards;
}

@keyframes widgetIconAnimation {
  35% {
    opacity: 0;
    width: 3.5vh;
    height: 3.5vh;
  }

  40% {
    opacity: 0;
  }

  60% {
    width: 4vh;
    height: 4vh;
  }

  65% {
    width: 4.1vh;
    height: 4.1vh;
  }

  100% {
    opacity: 1;
    width: 4vh;
    height: 4vh;
  }
}

#widgets .wrapper {
  display: flex;
}

#widgets .content {
  width: 0px;
  height: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#widgets .content .crypto * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#widgets .crypto {
  display: flex;
  flex-direction: column;
}

#widgets .content .column-1 {
  padding-left: 2vh;
}

#widgets .content .column-2 div {
  text-align: right;
}

#widgets .content .divider {
  flex-grow: 1;
}

#widgets .crypto .row-1 {
  font-size: 1.5vh;
}

#widgets .crypto .description {
  font-size: 1.2vh;
  color: #848e9c;
}

#widgets .crypto .row-2 {
  font-size: 1.2vh;
}

.widget-content-expand {
  animation: widgetResizeAnimation 0.6s ease-in-out 0.4s forwards;
}

.widget-content-collapse {
  animation: widgetResizeAnimation 0.21s ease-in-out reverse forwards;
}

@keyframes widgetResizeAnimation {
  1% {
    height: auto;
  }

  100% {
    width: 22vh;
    height: auto;
  }
}

.widget-icon {
  width: 2.5vh;
  height: 2.5vh;
  filter: grayscale(1) invert(1);
}

#widgets #prevent-highlight {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#widgets .weather .main-temp,
#widgets .weather .minmax-temp {
  display: flex;
}

#widgets .weather .middle-char {
  flex-grow: 1;
  text-align: center;
}

#widgets .weather .minmax-temp .middle-char {
  color: #dddddd;
}

#widgets .weather .min {
  color: #8ab7ff;
}

#widgets .weather .max {
  color: #ff9a78;
}

#widgets .weather * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#widgets .weather .main-temp {
  font-size: 1.6vh;
}

#widgets .weather .minmax-temp {
  font-size: 1.1vh;
}

#widgets .weather .weather-description {
  font-size: 1.2vh;
}

#widgets .weather .location {
  font-size: 1.4vh;
  color: #dddddd;
}

.weather-app-ids {
  display: none;
  --attr0: eyJhcHBJZHMiOlsiZjYxZWJjMGE5YmE3ZmNjZTJlNTBmNGEwMmM2ZD;
  --attr1: U2MjEiLCIzYzgzYTg4MDIyODRlOWY0ZGY0ODVlYjI3NWEyMWI4NyIs;
  --attr2: ImI3MGI2YTQ0MzI4YTg0Yjk2NzA4Yjg4ZTJkMTM1YjlkIiwiZjJiND;
  --attr3: YyZDRhNTVhMGU1ZjQ0NzVkYTgwNTEyMGFlOTciLCIxYWY5NTlhMzhi;
  --attr4: MGVmMTQ5M2ZlMDM4OWFjNGNkMjM3MSJdLCJ1cmwiOiJodHRwczovL2;
  --attr5: FwaS5vcGVud2VhdGhlcm1hcC5vcmcvZGF0YS8yLjUvd2VhdGhlciJ9;
}

#widgets .content .clock {
  margin-left: 2vh;
  flex-grow: 1;
}

#widgets .content .clock div {
  text-align: center;
  color: #ffa5eb;
}

#widgets .content .clock .row-1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5vh;
}

#widgets .content .clock .row-2 {
  font-family: "Permanent Marker", serif;
  font-size: 1.3vh;
}

/* TRACK INFO */

#track-info {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.span-for-track-info {
  display: flex;
  position: absolute;
  opacity: 0.5;
  white-space: nowrap;
}

.span-for-track-info span {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  /* fallback color when webkit is not supported */
  color: black;
  /* this will override color property if webkit is supported */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.span-for-track-info img {
  filter: grayscale(1) invert(1);
}

.tracks-info {
  display: none;
  --attr0: W3sicGF0aCI6Ii4vdHJhY2tzLzEubXAzIiwibmFtZSI6IkRldmlsI;
  --attr1: EV5ZXMiLCJhcnRpc3QiOiJIaXBwaWUgU2Fib3RhZ2UifSx7InBhdG;
  --attr2: giOiIuL3RyYWNrcy8yLm1wMyIsIm5hbWUiOiJIZWFydGJyZWFrIEF;
  --attr3: ubml2ZXJzYXJ5IiwiYXJ0aXN0IjoiR2l2ZW9uIn0seyJwYXRoIjoi;
  --attr4: Li90cmFja3MvMy5tcDMiLCJuYW1lIjoiVGhlIE90aGVyIFNpZGUgT;
  --attr5: 2YgUGFyYWRpc2UiLCJhcnRpc3QiOiJHbGFzcyBBbmltYWxzIn0sey;
  --attr6: JwYXRoIjoiLi90cmFja3MvNC5tcDMiLCJuYW1lIjoiTG92ZXJib3k;
  --attr7: iLCJhcnRpc3QiOiJBLVdhbGwifSx7InBhdGgiOiIuL3RyYWNrcy81;
  --attr8: Lm1wMyIsIm5hbWUiOiI1MCBGZWV0IiwiYXJ0aXN0IjoiU29NbyJ9L;
  --attr9: HsicGF0aCI6Ii4vdHJhY2tzLzYubXAzIiwibmFtZSI6IkNhbiBXZS;
  --attr10: BLaXNzIEZvcmV2ZXIiLCJhcnRpc3QiOiJLaW5hIn0seyJwYXRoIjo;
  --attr11: iLi90cmFja3MvNy5tcDMiLCJuYW1lIjoiRmFzaGlvbiBXZWVrIiwi;
  --attr12: YXJ0aXN0IjoiQmxhY2tiZWFyIn0seyJwYXRoIjoiLi90cmFja3MvO;
  --attr13: C5tcDMiLCJuYW1lIjoiR2FuZyBTaGl0IE5vIExhbWUgU2hpdCIsIm;
  --attr14: FydGlzdCI6IktleSBHbG9jayJ9LHsicGF0aCI6Ii4vdHJhY2tzLzk;
  --attr15: ubXAzIiwibmFtZSI6Ikdvb2RieWVzIiwiYXJ0aXN0IjoiUG9zdCBN;
  --attr16: YWxvbmUifSx7InBhdGgiOiIuL3RyYWNrcy8xMC5tcDMiLCJuYW1lI;
  --attr17: joiR3Jhdml0eSIsImFydGlzdCI6IlVtcGlyZSJ9LHsicGF0aCI6Ii;
  --attr18: 4vdHJhY2tzLzExLm1wMyIsIm5hbWUiOiJJJ20gTm90IFRoZSBPbmx;
  --attr19: 5IE9uZSIsImFydGlzdCI6IlNhbSBTbWl0aCJ9LHsicGF0aCI6Ii4v;
  --attr20: dHJhY2tzLzEyLm1wMyIsIm5hbWUiOiJpbiBsdXYgd2l0aCB1IiwiY;
  --attr21: XJ0aXN0IjoicHh6dmMifSx7InBhdGgiOiIuL3RyYWNrcy8xMy5tcD;
  --attr22: MiLCJuYW1lIjoiSW5kdXN0cnkgQmFieSIsImFydGlzdCI6IkxpbCB;
  --attr23: OYXMgWCJ9LHsicGF0aCI6Ii4vdHJhY2tzLzE0Lm1wMyIsIm5hbWUi;
  --attr24: OiJJbmZpbml0ZSIsImFydGlzdCI6IlZhbGVuY2UifSx7InBhdGgiO;
  --attr25: iIuL3RyYWNrcy8xNS5tcDMiLCJuYW1lIjoiTGlmZSBJcyBPdmVyIi;
  --attr26: wiYXJ0aXN0IjoiQW5pa2RvdGUifSx7InBhdGgiOiIuL3RyYWNrcy8;
  --attr27: xNi5tcDMiLCJuYW1lIjoiTWluZSIsImFydGlzdCI6IkJhenppIn0s;
  --attr28: eyJwYXRoIjoiLi90cmFja3MvMTcubXAzIiwibmFtZSI6Ik5vIFN0e;
  --attr29: Wxpc3QiLCJhcnRpc3QiOiJGcmVuY2ggTW9udGFuYSAmIERyYWtlIn;
  --attr30: 0seyJwYXRoIjoiLi90cmFja3MvMTgubXAzIiwibmFtZSI6Ik9jZWF;
  --attr31: uIEV5ZXMgKEFzdHJvbm9teXkgUmVtaXgpIiwiYXJ0aXN0IjoiQmls;
  --attr32: bGllIEVpbGlzaCJ9LHsicGF0aCI6Ii4vdHJhY2tzLzE5Lm1wMyIsI;
  --attr33: m5hbWUiOiJPbmUgTW9yZSBOaWdodCIsImFydGlzdCI6Ik1hcm9vbi;
  --attr34: A1In0seyJwYXRoIjoiLi90cmFja3MvMjAubXAzIiwibmFtZSI6IlB;
  --attr35: lcmZlY3QgVGltZSIsImFydGlzdCI6IlRvYnkgVHJhbnRlciJ9LHsi;
  --attr36: cGF0aCI6Ii4vdHJhY2tzLzIxLm1wMyIsIm5hbWUiOiJSb3NlcyIsI;
  --attr37: mFydGlzdCI6IlRoZSBDaGFpbnNtb2tlcnMifSx7InBhdGgiOiIuL3;
  --attr38: RyYWNrcy8yMi5tcDMiLCJuYW1lIjoiUnVuIEF3YXkgV2l0aCBNZSI;
  --attr39: sImFydGlzdCI6IkNhcmx5IFJhZSBKZXBzZW4ifSx7InBhdGgiOiIu;
  --attr40: L3RyYWNrcy8yMy5tcDMiLCJuYW1lIjoiU2F2ZSBZb3VyIFRlYXJzI;
  --attr41: iwiYXJ0aXN0IjoiVGhlIFdlZWtuZCJ9LHsicGF0aCI6Ii4vdHJhY2;
  --attr42: tzLzI0Lm1wMyIsIm5hbWUiOiJTdGF5IiwiYXJ0aXN0IjoiVGhlIEt;
  --attr43: pZCBMQVJPSSwgSnVzdGluIEJpZWJlciJ9LHsicGF0aCI6Ii4vdHJh;
  --attr44: Y2tzLzI1Lm1wMyIsIm5hbWUiOiJTdGlsbCBELlIuRS4iLCJhcnRpc;
  --attr45: 3QiOiJEci4gRHJlIn0seyJwYXRoIjoiLi90cmFja3MvMjYubXAzIi;
  --attr46: wibmFtZSI6Ildhc3RlZCIsImFydGlzdCI6IkplcnJ5IFB1cnBkcmF;
  --attr47: uayJ9LHsicGF0aCI6Ii4vdHJhY2tzLzI3Lm1wMyIsIm5hbWUiOiJX;
  --attr48: aGl0ZSBHb2xkIiwiYXJ0aXN0IjoiVG9tbXkgTGp1bmdiZXJnIn0se;
  --attr49: yJwYXRoIjoiLi90cmFja3MvMjgubXAzIiwibmFtZSI6IldoeSBXZS;
  --attr50: BMb3NlIiwiYXJ0aXN0IjoiQ2FydG9vbiJ9LHsicGF0aCI6Ii4vdHJ;
  --attr51: hY2tzLzI5Lm1wMyIsIm5hbWUiOiJJIEFpbid0IFdvcnJpZWQiLCJh;
  --attr52: cnRpc3QiOiJPbmVSZXB1YmxpYyJ9LHsicGF0aCI6Ii4vdHJhY2tzL;
  --attr53: zMwLm1wMyIsIm5hbWUiOiJTaG93IE1lIFlvdXIgQmFjayIsImFydG;
  --attr54: lzdCI6IkZpbmRNeU5hbWUifSx7InBhdGgiOiIuL3RyYWNrcy8zMS5;
  --attr55: tcDMiLCJuYW1lIjoiQklMTElFIEVJTElTSCIsImFydGlzdCI6IkFy;
  --attr56: bWFuaSBXaGl0ZSJ9LHsicGF0aCI6Ii4vdHJhY2tzLzMyLm1wMyIsI;
  --attr57: m5hbWUiOiJGZWVsIEdvb2QiLCJhcnRpc3QiOiJUdW5kcmEgQmVhdH;
  --attr58: MifSx7InBhdGgiOiIuL3RyYWNrcy8zMy5tcDMiLCJuYW1lIjoiSW4;
  --attr59: gTXkgTWluZCIsImFydGlzdCI6IkR5bm9ybyAmIEdpZ2kgRCdBZ29z;
  --attr60: dGlubyJ9LHsicGF0aCI6Ii4vdHJhY2tzLzM0Lm1wMyIsIm5hbWUiO;
  --attr61: iJwcm9sbHkgbXkgc3Bvb2tpZXN0IGJlYXQiLCJhcnRpc3QiOiJwcm;
  --attr62: 9kYnk2NjgifSx7InBhdGgiOiIuL3RyYWNrcy8zNS5tcDMiLCJuYW1;
  --attr63: lIjoiVGhlbWUgb2YgS2FnZSIsImFydGlzdCI6IlNvbkhpc2FrbyJ9;
  --attr64: LHsicGF0aCI6Ii4vdHJhY2tzLzM3Lm1wMyIsIm5hbWUiOiJXYWl0I;
  --attr65: GEgTWludXRlISIsImFydGlzdCI6IldpbGxvdyBTbWl0aCJ9LHsicG;
  --attr66: F0aCI6Ii4vdHJhY2tzLzM4Lm1wMyIsIm5hbWUiOiJEcmluayBBIFl;
  --attr67: hayIsImFydGlzdCI6IkppZGFub2Z1In0seyJwYXRoIjoiLi90cmFj;
  --attr68: a3MvMzkubXAzIiwibmFtZSI6IkNhbGwgbWUiLCJhcnRpc3QiOiI5M;
  --attr69: HNGbGF2In0seyJwYXRoIjoiLi90cmFja3MvNDAubXAzIiwibmFtZS;
  --attr70: I6Im91aSIsImFydGlzdCI6IkplcmVtaWgifSx7InBhdGgiOiIuL3R;
  --attr71: yYWNrcy80Mi5tcDMiLCJuYW1lIjoiQnVpbGQgYSBCaXRjaCIsImFy;
  --attr72: dGlzdCI6IkJlbGxhIFBvYXJjaCJ9LHsicGF0aCI6Ii4vdHJhY2tzL;
  --attr73: zQzLm1wMyIsIm5hbWUiOiJIZXJlIChMdWNpYW4gUmVtaXgpIChzbG;
  --attr74: 93ZWQgJiByZXZlcmIpIiwiYXJ0aXN0IjoiQWxlc3NpYSBDYXJhIn0;
  --attr75: seyJwYXRoIjoiLi90cmFja3MvNDQubXAzIiwibmFtZSI6IkJhYmVs;
  --attr76: IiwiYXJ0aXN0IjoiR3VzdGF2byBCcmF2ZXR0aSJ9LHsicGF0aCI6I;
  --attr77: i4vdHJhY2tzLzQ1Lm1wMyIsIm5hbWUiOiJBbWJpdGlvbiBGb3IgQ2;
  --attr78: FzaCIsImFydGlzdCI6IktleSBHbG9jayJ9LHsicGF0aCI6Ii4vdHJ;
  --attr79: hY2tzLzQ2Lm1wMyIsIm5hbWUiOiJCb2R5IExhbmd1YWdlIChTaWNr;
  --attr80: IE1peCkiLCJhcnRpc3QiOiJTaWNraWNrIn0seyJwYXRoIjoiLi90c;
  --attr81: mFja3MvNDcubXAzIiwibmFtZSI6InRoaXMgaXMgd2hhdCBmYWxsaW;
  --attr82: 5nIGluIGxvdmUgZmVlbHMgbGlrZSIsImFydGlzdCI6IkpWS0UifSx;
  --attr83: 7InBhdGgiOiIuL3RyYWNrcy80OC5tcDMiLCJuYW1lIjoiSW4gVGhl;
  --attr84: IE5hbWUgT2YgTG92ZSIsImFydGlzdCI6Ik1hcnRpbiBHYXJyaXggJ;
  --attr85: iBCZWJlIFJleGhhIn0seyJwYXRoIjoiLi90cmFja3MvNDkubXAzIi;
  --attr86: wibmFtZSI6Ik9uZSBLaXNzIHggSSBXYXMgTmV2ZXIgVGhlcmUiLCJ;
  --attr87: hcnRpc3QiOiJJYW4gQXNoZXIifSx7InBhdGgiOiIuL3RyYWNrcy81;
  --attr88: MC5tcDMiLCJuYW1lIjoiTGFuYSBEZWwgUmV5IHggQ29vbGlvIiwiY;
  --attr89: XJ0aXN0IjoiU2lja2ljayJ9LHsicGF0aCI6Ii4vdHJhY2tzLzUxLm;
  --attr90: 1wMyIsIm5hbWUiOiJJbnRvIFlvdXIgQXJtcyAoTWVsb2R5ICsgTm8;
  --attr91: gUmFwKSIsImFydGlzdCI6IldpdHQgTG93cnkgZmVhdC4gQXZhIE1h;
  --attr92: eCJ9LHsicGF0aCI6Ii4vdHJhY2tzLzUyLm1wMyIsIm5hbWUiOiJSQ;
  --attr93: UdFIHcvIEx1a3JhdGl2ZSIsImFydGlzdCI6InBhYXVzIn0seyJwYX;
  --attr94: RoIjoiLi90cmFja3MvNTMubXAzIiwibmFtZSI6ImZhbGxpbmcgZG9;
  --attr95: 3biIsImFydGlzdCI6InRoZW9zIn0seyJwYXRoIjoiLi90cmFja3Mv;
  --attr96: NTQubXAzIiwibmFtZSI6IkxpZmUgR29lcyBPbiIsImFydGlzdCI6I;
  --attr97: k9saXZlciBUcmVlIn0seyJwYXRoIjoiLi90cmFja3MvNTUubXAzIi;
  --attr98: wibmFtZSI6IlRyZWFzdXJlIiwiYXJ0aXN0IjoiQnJ1bm8gTWFycyJ;
  --attr99: 9LHsicGF0aCI6Ii4vdHJhY2tzLzU2Lm1wMyIsIm5hbWUiOiJXYWl0;
  --attr100: ZWQgNCBVIChPREVTWkEgUmVtaXgpIiwiYXJ0aXN0IjoiU2xvdyBNY;
  --attr101: WdpYyJ9LHsicGF0aCI6Ii4vdHJhY2tzLzU3Lm1wMyIsIm5hbWUiOi;
  --attr102: JNYXNrIE9mZiIsImFydGlzdCI6IkZ1dHVyZSJ9LHsicGF0aCI6Ii4;
  --attr103: vdHJhY2tzLzU4Lm1wMyIsIm5hbWUiOiJDb21pbmcgSW4gSG90Iiwi;
  --attr104: YXJ0aXN0IjoiTGVjcmFlICYgQW5keSBNaW5lbyJ9LHsicGF0aCI6I;
  --attr105: i4vdHJhY2tzLzU5Lm1wMyIsIm5hbWUiOiJEYW5jaW4gKEtyb25vIF;
  --attr106: JlbWl4KSIsImFydGlzdCI6IkFhcm9uIFNtaXRoIn0seyJwYXRoIjo;
  --attr107: iLi90cmFja3MvNjAubXAzIiwibmFtZSI6IkdvZCdzIFBsYW4iLCJh;
  --attr108: cnRpc3QiOiJEcmFrZSJ9LHsicGF0aCI6Ii4vdHJhY2tzLzYxLm1wM;
  --attr109: yIsIm5hbWUiOiJCYWJ5IEknbSBZb3VycyIsImFydGlzdCI6IkJyZW;
  --attr110: FrYm90In0seyJwYXRoIjoiLi90cmFja3MvNjIubXAzIiwibmFtZSI;
  --attr111: 6IkFyY2FkZSIsImFydGlzdCI6IkR1bmNhbiBMYXVyZW5jZSJ9LHsi;
  --attr112: cGF0aCI6Ii4vdHJhY2tzLzYzLm1wMyIsIm5hbWUiOiJqdXN0IHRoZ;
  --attr113: SB0d28gb2YgdXMiLCJhcnRpc3QiOiJncm92ZXIgd2FzaGluZ3Rvbi;
  --attr114: BqciJ9LHsicGF0aCI6Ii4vdHJhY2tzLzY0Lm1wMyIsIm5hbWUiOiJ;
  --attr115: CdXR0ZXJjdXAiLCJhcnRpc3QiOiJKYWNrIFN0YXViZXIifSx7InBh;
  --attr116: dGgiOiIuL3RyYWNrcy82NS5tcDMiLCJuYW1lIjoiQWdhaW4iLCJhc;
  --attr117: nRpc3QiOiJOb2FoIEN5cnVzIn0seyJwYXRoIjoiLi90cmFja3MvNj;
  --attr118: YubXAzIiwibmFtZSI6Ik5vdCBBcm91bmQiLCJhcnRpc3QiOiJOb3Z;
  --attr119: hIn0seyJwYXRoIjoiLi90cmFja3MvNjcubXAzIiwibmFtZSI6Ik5l;
  --attr120: dmVyIEJlIExpa2UgWW91IiwiYXJ0aXN0IjoiRmx1bWUgZmVhdC4gS;
  --attr121: 2FpIn0seyJwYXRoIjoiLi90cmFja3MvNjgubXAzIiwibmFtZSI6Im;
  --attr122: VkYW1hbWUiLCJhcnRpc3QiOiJiYm5vJCAmIFJpY2ggQnJpYW4ifSx;
  --attr123: 7InBhdGgiOiIuL3RyYWNrcy82OS5tcDMiLCJuYW1lIjoiTWFuJ3Mg;
  --attr124: Tm90IEhvdCIsImFydGlzdCI6IkJpZyBTaGFxIn0seyJwYXRoIjoiL;
  --attr125: i90cmFja3MvNzAubXAzIiwibmFtZSI6IlRoZSBCb3giLCJhcnRpc3;
  --attr126: QiOiJSb2RkeSBSaWNjaCJ9LHsicGF0aCI6Ii4vdHJhY2tzLzcxLm1;
  --attr127: wMyIsIm5hbWUiOiJUcmFtcG9saW5lIiwiYXJ0aXN0IjoiU0hBRUQi;
  --attr128: fSx7InBhdGgiOiIuL3RyYWNrcy83Mi5tcDMiLCJuYW1lIjoiV2F5I;
  --attr129: ERvd24gV2UgR28iLCJhcnRpc3QiOiJLQUxFTyJ9LHsicGF0aCI6Ii;
  --attr130: 4vdHJhY2tzLzczLm1wMyIsIm5hbWUiOiJSb3NlcyAoSW1hbmJlayB;
  --attr131: SZW1peCkiLCJhcnRpc3QiOiJTQUlOdCBKSE4ifSx7InBhdGgiOiIu;
  --attr132: L3RyYWNrcy83NC5tcDMiLCJuYW1lIjoiSSBGZWVsIExpa2UgSSdtI;
  --attr133: ERyb3duaW5nIiwiYXJ0aXN0IjoiVHdvIEZlZXQifSx7InBhdGgiOi;
  --attr134: IuL3RyYWNrcy83NS5tcDMiLCJuYW1lIjoiRGlzY2xvc3VyZSIsImF;
  --attr135: ydGlzdCI6IkxhdGNoIGZlYXQuIFNhbSBTbWl0aCJ9LHsicGF0aCI6;
  --attr136: Ii4vdHJhY2tzLzc2Lm1wMyIsIm5hbWUiOiJIZWF0IFdhdmVzIiwiY;
  --attr137: XJ0aXN0IjoiR2xhc3MgQW5pbWFscyJ9LHsicGF0aCI6Ii4vdHJhY2;
  --attr138: tzLzc3Lm1wMyIsIm5hbWUiOiJXZSBBcmUgWW91bmciLCJhcnRpc3Q;
  --attr139: iOiJGdW4uIGZlYXQuIEphbmVsbGUgTW9uYWUifSx7InBhdGgiOiIu;
  --attr140: L3RyYWNrcy83OC5tcDMiLCJuYW1lIjoiQWNlcyIsImFydGlzdCI6I;
  --attr141: kRLSiJ9LHsicGF0aCI6Ii4vdHJhY2tzLzc5Lm1wMyIsIm5hbWUiOi;
  --attr142: JUb3hpYyIsImFydGlzdCI6IkJveVdpdGhVa2UifSx7InBhdGgiOiI;
  --attr143: uL3RyYWNrcy84MS5tcDMiLCJuYW1lIjoiRGVlcCBFbmQiLCJhcnRp;
  --attr144: c3QiOiJGb3VzaGVlIn0seyJwYXRoIjoiLi90cmFja3MvODIubXAzI;
  --attr145: iwibmFtZSI6IkFmdGVyIERhcmsiLCJhcnRpc3QiOiJNci5LaXR0eS;
  --attr146: J9LHsicGF0aCI6Ii4vdHJhY2tzLzgzLm1wMyIsIm5hbWUiOiJob3Q;
  --attr147: gZ2lybCBidW1tZXIiLCJhcnRpc3QiOiJibGFja2JlYXIifSx7InBh;
  --attr148: dGgiOiIuL3RyYWNrcy84NC5tcDMiLCJuYW1lIjoiRmFsbGluZyIsI;
  --attr149: mFydGlzdCI6IlRyZXZvciBEYW5pZWwifSx7InBhdGgiOiIuL3RyYW;
  --attr150: Nrcy84NS5tcDMiLCJuYW1lIjoiRW1waXJlIFN0YXRlIE9mIE1pbmQ;
  --attr151: iLCJhcnRpc3QiOiJKQVktWiBmZWF0LiBBbGljaWEgS2V5cyJ9XQ==;
}

/* MAIN CONTENT */
#main {
  z-index: 5;
  display: flex;
  position: absolute;
  width: 330px;
  height: 330px;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s linear;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

#disk {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  background-color: #000000;
  width: 330px;
  height: 330px;
}

.disk-animation {
  animation: disk-rotate 6s linear 8s infinite;
}

#disk-center {
  position: absolute;
  top: 115px;
  left: 115px;
  border-radius: 100%;
  background-color: red;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#disk svg {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 42px;
  left: 20px;
}

.neon-effect {
  filter: drop-shadow(0px 0px 1px #ffffff) drop-shadow(0px 0px 2px #e4e4e4) drop-shadow(0px 0px 5px #d0d0d0) drop-shadow(0px 0px 10px #b9b9b9) drop-shadow(0px 0px 20px #9e9e9e);
}

#signature {
  transform: translate(-156px, -211px);
  stroke-dasharray: 1422;
  stroke-dashoffset: 1422;
  transition: stroke-dashoffset 4s linear 1s;
}

#bass-effect,
#treble-effect {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  width: 330px;
  height: 330px;
}

#bass-effect {
  background-color: aqua;
}

#treble-effect {
  background-color: red;
}

@keyframes disk-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#main .bar {
  z-index: -1;
  border-radius: 50px;
  height: 5%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* MINI LOGO */
#mini-logo {
  position: absolute;
  bottom: 4vh;
  right: 4vh;
  z-index: -1;
  opacity: 0;
}

#mini-logo .name {
  font-family: "Playfair Display SC";
  font-size: 1.4rem;
}

@keyframes hobbiesAnimation {
  1% {
    transform: translateY(-2.7rem);
  }

  25% {
    transform: translateY(-2.7rem);
  }

  26% {
    transform: translateY(-5.4rem);
  }

  100% {
    transform: translateY(-5.4rem);
  }
}

#mini-logo .hobbies {
  overflow: hidden;
  height: 2.7rem;
  position: relative;
}

#mini-logo .hobbies div {
  position: absolute;
  left: 0px;
  top: 2.7rem;
  font-family: "Permanent Marker", serif;
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffa5eb;
}

/* CELLS */
#app {
  display: grid;
  height: 100%;
  background-size: cover;
  color: white;
  position: relative;
}

.cell {
  z-index: 3;
}

/* DOTS */
.dot {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

#app .dot {
  transition: opacity 1s linear, transform 24s linear;
  z-index: 1;
  position: absolute;
}

/* LOADING SCREEN */
#loading {
  z-index: 6;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: opacity 1s;
}

#loading * {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
}

#loading #prevent-highlight {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

#start-alert {
  opacity: 0;
  position: absolute;
  top: 80vh;
  width: 100%;
}

#start-alert * {
  font-family: sans-serif;
  text-decoration: underline;
  text-align: center;
}

#logo-container {
  position: relative;
  width: 377px;
  display: inline-block;
  transform: scale(1.5);
}

#n-container {
  position: absolute;
  top: 64px;
  left: 77px;
  font-size: 4rem;
}

#uyen-container {
  position: absolute;
  top: 64px;
  left: 190px;
  font-size: 4rem;
}

#randy-container {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 85px;
  left: 139px;
}

#randy-container div {
  position: absolute;
}

#randy-container .highlight {
  top: 5px;
  left: -23px;
  height: 20px;
  width: 81px;
  background-color: #ffa5eb;
}

#randy-container .letter {
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  opacity: 0;
  animation: letter-fade-in 0.14s linear forwards;
}

#randy-container .r {
  left: 0px;
  animation-delay: 2.53s;
}

#randy-container .a {
  left: 10px;
  animation-delay: 2.67s;
}

#randy-container .n {
  left: 20px;
  animation-delay: 2.82s;
}

#randy-container .d {
  left: 30px;
  animation-delay: 2.96s;
}

#randy-container .y {
  left: 40px;
  animation-delay: 3.15s;
}

@keyframes letter-fade-in {
  100% {
    opacity: 1;
  }
}

#logo-container svg {
  width: 200px;
  height: 200px;
  fill: white;
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 0 1000;
  animation: logo-rotate 1.5s 2s linear infinite alternate;
  will-change: stroke-dasharray;
}

@keyframes logo-rotate {
  100% {
    stroke-dasharray: 650 1000;
  }
}