* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.no-display {
  display: none;
}

/* BACKGROUND */
body {
  background-image: url("./images/neon-background.gif#randy");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* MASK */
#mask {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.faded-effect {
  transition: opacity 3s linear 5s;
  opacity: 0;
}

/* WIDGETS */
#widgets {
  background-color: #262626;
  width: 16vh;
  height: 4vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2vh;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 5;
  opacity: 0;
}

#widgets * {
  white-space: nowrap;
}

.widgets-expand {
  animation: resizeAnimation 0.6s ease-in-out forwards;
}

.widgets-collapse {
  animation: resizeAnimation 0.6s ease-in-out reverse forwards;
}

@keyframes resizeAnimation {
  65% {
    width: 31.5vh;
    height: 31.5vh;
    flex-direction: column;
  }

  100% {
    width: 30vh;
    height: 30vh;
    flex-direction: column;
  }
}

.widget-icon-expand {
  animation: widgetIconAnimation 0.6s ease-in-out forwards;
}

.widget-icon-collapse {
  animation: widgetIconAnimation 0.6s ease-in-out reverse forwards;
}

@keyframes widgetIconAnimation {
  35% {
    opacity: 0;
    width: 3.5vh;
    height: 3.5vh;
  }

  40% {
    opacity: 0;
  }

  60% {
    width: 4vh;
    height: 4vh;
  }

  65% {
    width: 4.1vh;
    height: 4.1vh;
  }

  100% {
    opacity: 1;
    width: 4vh;
    height: 4vh;
  }
}

#widgets .wrapper {
  display: flex;
}

#widgets .content {
  width: 0px;
  height: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#widgets .content .crypto * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#widgets .crypto {
  display: flex;
  flex-direction: column;
}

#widgets .content .column-1 {
  padding-left: 2vh;
}

#widgets .content .column-2 div {
  text-align: right;
}

#widgets .content .divider {
  flex-grow: 1;
}

#widgets .crypto .row-1 {
  font-size: 1.5vh;
}

#widgets .crypto .description {
  font-size: 1.2vh;
  color: #848e9c;
}

#widgets .crypto .row-2 {
  font-size: 1.2vh;
}

.widget-content-expand {
  animation: widgetResizeAnimation 0.6s ease-in-out 0.4s forwards;
}

.widget-content-collapse {
  animation: widgetResizeAnimation 0.21s ease-in-out reverse forwards;
}

@keyframes widgetResizeAnimation {
  1% {
    height: auto;
  }

  100% {
    width: 22vh;
    height: auto;
  }
}

.widget-icon {
  width: 2.5vh;
  height: 2.5vh;
  filter: grayscale(1) invert(1);
}

#widgets #prevent-highlight {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#widgets .weather .main-temp,
#widgets .weather .minmax-temp {
  display: flex;
}

#widgets .weather .middle-char {
  flex-grow: 1;
  text-align: center;
}

#widgets .weather .minmax-temp .middle-char {
  color: #dddddd;
}

#widgets .weather .min {
  color: #8ab7ff;
}

#widgets .weather .max {
  color: #ff9a78;
}

#widgets .weather * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#widgets .weather .main-temp {
  font-size: 1.6vh;
}

#widgets .weather .minmax-temp {
  font-size: 1.1vh;
}

#widgets .weather .weather-description {
  font-size: 1.2vh;
}

#widgets .weather .location {
  font-size: 1.4vh;
  color: #dddddd;
}

.weather-app-ids {
  display: none;
  --attr0: eyJhcHBJZHMiOlsiZjYxZWJjMGE5YmE3ZmNjZTJlNTBmNGEwMmM2ZD;
  --attr1: U2MjEiLCIzYzgzYTg4MDIyODRlOWY0ZGY0ODVlYjI3NWEyMWI4NyIs;
  --attr2: ImI3MGI2YTQ0MzI4YTg0Yjk2NzA4Yjg4ZTJkMTM1YjlkIiwiZjJiND;
  --attr3: YyZDRhNTVhMGU1ZjQ0NzVkYTgwNTEyMGFlOTciLCIxYWY5NTlhMzhi;
  --attr4: MGVmMTQ5M2ZlMDM4OWFjNGNkMjM3MSJdLCJ1cmwiOiJodHRwczovL2;
  --attr5: FwaS5vcGVud2VhdGhlcm1hcC5vcmcvZGF0YS8yLjUvd2VhdGhlciJ9;
}

#widgets .content .clock {
  margin-left: 2vh;
  flex-grow: 1;
}

#widgets .content .clock div {
  text-align: center;
  color: #ffa5eb;
}

#widgets .content .clock .row-1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5vh;
}

#widgets .content .clock .row-2 {
  font-family: "Permanent Marker", serif;
  font-size: 1.3vh;
}

/* TRACK INFO */

#track-info {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.span-for-track-info {
  display: flex;
  position: absolute;
  opacity: 0.5;
  white-space: nowrap;
}

.span-for-track-info span {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  /* fallback color when webkit is not supported */
  color: black;
  /* this will override color property if webkit is supported */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.span-for-track-info img {
  filter: grayscale(1) invert(1);
}

.tracks-info {
  display: none;
  --attr0: W3sicGF0aCI6Ii4vdHJhY2tzLzQ1Lm1wMyIsIm5hb;
  --attr1: WUiOiJBbWJpdGlvbiBGb3IgQ2FzaCIsImFydGlzdC;
  --attr2: I6IktleSBHbG9jayJ9LHsicGF0aCI6Ii4vdHJhY2t;
  --attr3: zLzIubXAzIiwibmFtZSI6IkhlYXJ0YnJlYWsgQW5u;
  --attr4: aXZlcnNhcnkiLCJhcnRpc3QiOiJHaXZlb24ifSx7I;
  --attr5: nBhdGgiOiIuL3RyYWNrcy81NC5tcDMiLCJuYW1lIj;
  --attr6: oiTGlmZSBHb2VzIE9uIiwiYXJ0aXN0IjoiT2xpdmV;
  --attr7: yIFRyZWUifSx7InBhdGgiOiIuL3RyYWNrcy8yMy5t;
  --attr8: cDMiLCJuYW1lIjoiU2F2ZSBZb3VyIFRlYXJzIiwiY;
  --attr9: XJ0aXN0IjoiVGhlIFdlZWtuZCJ9LHsicGF0aCI6Ii;
  --attr10: 4vdHJhY2tzLzMubXAzIiwibmFtZSI6IlRoZSBPdGh;
  --attr11: lciBTaWRlIE9mIFBhcmFkaXNlIiwiYXJ0aXN0Ijoi;
  --attr12: R2xhc3MgQW5pbWFscyJ9LHsicGF0aCI6Ii4vdHJhY;
  --attr13: 2tzLzYubXAzIiwibmFtZSI6IkNhbiBXZSBLaXNzIE;
  --attr14: ZvcmV2ZXIiLCJhcnRpc3QiOiJLaW5hIn0seyJwYXR;
  --attr15: oIjoiLi90cmFja3MvNTIubXAzIiwibmFtZSI6IlJB;
  --attr16: R0Ugdy8gTHVrcmF0aXZlIiwiYXJ0aXN0IjoicGFhd;
  --attr17: XMifSx7InBhdGgiOiIuL3RyYWNrcy84Lm1wMyIsIm;
  --attr18: 5hbWUiOiJHYW5nIFNoaXQgTm8gTGFtZSBTaGl0Iiw;
  --attr19: iYXJ0aXN0IjoiS2V5IEdsb2NrIn0seyJwYXRoIjoi;
  --attr20: Li90cmFja3MvMzIubXAzIiwibmFtZSI6IkZlZWwgR;
  --attr21: 29vZCIsImFydGlzdCI6IlR1bmRyYSBCZWF0cyJ9LH;
  --attr22: sicGF0aCI6Ii4vdHJhY2tzLzMwLm1wMyIsIm5hbWU;
  --attr23: iOiJTaG93IE1lIFlvdXIgQmFjayIsImFydGlzdCI6;
  --attr24: IkZpbmRNeU5hbWUifSx7InBhdGgiOiIuL3RyYWNrc;
  --attr25: y8xNy5tcDMiLCJuYW1lIjoiTm8gU3R5bGlzdCIsIm;
  --attr26: FydGlzdCI6IkZyZW5jaCBNb250YW5hICYgRHJha2U;
  --attr27: ifSx7InBhdGgiOiIuL3RyYWNrcy8xNi5tcDMiLCJu;
  --attr28: YW1lIjoiTWluZSIsImFydGlzdCI6IkJhenppIn0se;
  --attr29: yJwYXRoIjoiLi90cmFja3MvNDkubXAzIiwibmFtZS;
  --attr30: I6Ik9uZSBLaXNzIHggSSBXYXMgTmV2ZXIgVGhlcmU;
  --attr31: iLCJhcnRpc3QiOiJJYW4gQXNoZXIifSx7InBhdGgi;
  --attr32: OiIuL3RyYWNrcy8xMC5tcDMiLCJuYW1lIjoiR3Jhd;
  --attr33: ml0eSIsImFydGlzdCI6IlVtcGlyZSJ9LHsicGF0aC;
  --attr34: I6Ii4vdHJhY2tzLzU1Lm1wMyIsIm5hbWUiOiJUcmV;
  --attr35: hc3VyZSIsImFydGlzdCI6IkJydW5vIE1hcnMifSx7;
  --attr36: InBhdGgiOiIuL3RyYWNrcy8yNy5tcDMiLCJuYW1lI;
  --attr37: joiV2hpdGUgR29sZCIsImFydGlzdCI6IlRvbW15IE;
  --attr38: xqdW5nYmVyZyJ9LHsicGF0aCI6Ii4vdHJhY2tzLzU;
  --attr39: wLm1wMyIsIm5hbWUiOiJMYW5hIERlbCBSZXkgeCBD;
  --attr40: b29saW8iLCJhcnRpc3QiOiJTaWNraWNrIn0seyJwY;
  --attr41: XRoIjoiLi90cmFja3MvMTgubXAzIiwibmFtZSI6Ik;
  --attr42: 9jZWFuIEV5ZXMiLCJhcnRpc3QiOiJCaWxsaWUgRWl;
  --attr43: saXNoIn0seyJwYXRoIjoiLi90cmFja3MvNS5tcDMi;
  --attr44: LCJuYW1lIjoiNTAgRmVldCIsImFydGlzdCI6IlNvT;
  --attr45: W8ifSx7InBhdGgiOiIuL3RyYWNrcy80OC5tcDMiLC;
  --attr46: JuYW1lIjoiSW4gVGhlIE5hbWUgT2YgTG92ZSIsImF;
  --attr47: ydGlzdCI6Ik1hcnRpbiBHYXJyaXggJiBCZWJlIFJl;
  --attr48: eGhhIn0seyJwYXRoIjoiLi90cmFja3MvMzQubXAzI;
  --attr49: iwibmFtZSI6InByb2xseSBteSBzcG9va2llc3QgYm;
  --attr50: VhdCIsImFydGlzdCI6InByb2RieTY2OCJ9LHsicGF;
  --attr51: 0aCI6Ii4vdHJhY2tzLzE1Lm1wMyIsIm5hbWUiOiJM;
  --attr52: aWZlIElzIE92ZXIiLCJhcnRpc3QiOiJBbmlrZG90Z;
  --attr53: SJ9LHsicGF0aCI6Ii4vdHJhY2tzLzI4Lm1wMyIsIm;
  --attr54: 5hbWUiOiJXaHkgV2UgTG9zZSIsImFydGlzdCI6IkN;
  --attr55: hcnRvb24ifSx7InBhdGgiOiIuL3RyYWNrcy8yNi5t;
  --attr56: cDMiLCJuYW1lIjoiV2FzdGVkIiwiYXJ0aXN0IjoiS;
  --attr57: mVycnkgUHVycGRyYW5rIn0seyJwYXRoIjoiLi90cm;
  --attr58: Fja3MvMzEubXAzIiwibmFtZSI6IkJJTExJRSBFSUx;
  --attr59: JU0giLCJhcnRpc3QiOiJBcm1hbmkgV2hpdGUifSx7;
  --attr60: InBhdGgiOiIuL3RyYWNrcy8xOS5tcDMiLCJuYW1lI;
  --attr61: joiT25lIE1vcmUgTmlnaHQiLCJhcnRpc3QiOiJNYX;
  --attr62: Jvb24gNSJ9LHsicGF0aCI6Ii4vdHJhY2tzLzcubXA;
  --attr63: zIiwibmFtZSI6IkZhc2hpb24gV2VlayIsImFydGlz;
  --attr64: dCI6IkJsYWNrYmVhciJ9LHsicGF0aCI6Ii4vdHJhY;
  --attr65: 2tzLzM3Lm1wMyIsIm5hbWUiOiJXYWl0IGEgTWludX;
  --attr66: RlISIsImFydGlzdCI6IldpbGxvdyBTbWl0aCJ9LHs;
  --attr67: icGF0aCI6Ii4vdHJhY2tzLzUzLm1wMyIsIm5hbWUi;
  --attr68: OiJmYWxsaW5nIGRvd24iLCJhcnRpc3QiOiJ0aGVvc;
  --attr69: yJ9LHsicGF0aCI6Ii4vdHJhY2tzLzIyLm1wMyIsIm;
  --attr70: 5hbWUiOiJSdW4gQXdheSBXaXRoIE1lIiwiYXJ0aXN;
  --attr71: 0IjoiQ2FybHkgUmFlIEplcHNlbiJ9LHsicGF0aCI6;
  --attr72: Ii4vdHJhY2tzLzEzLm1wMyIsIm5hbWUiOiJJbmR1c;
  --attr73: 3RyeSBCYWJ5IiwiYXJ0aXN0IjoiTGlsIE5hcyBYIn;
  --attr74: 0seyJwYXRoIjoiLi90cmFja3MvNDAubXAzIiwibmF;
  --attr75: tZSI6Im91aSIsImFydGlzdCI6IkplcmVtaWgifSx7;
  --attr76: InBhdGgiOiIuL3RyYWNrcy8xLm1wMyIsIm5hbWUiO;
  --attr77: iJEZXZpbCBFeWVzIiwiYXJ0aXN0IjoiSGlwcGllIF;
  --attr78: NhYm90YWdlIn0seyJwYXRoIjoiLi90cmFja3MvNDY;
  --attr79: ubXAzIiwibmFtZSI6IkJvZHkgTGFuZ3VhZ2UgKFNp;
  --attr80: Y2sgTWl4KSIsImFydGlzdCI6IlNpY2tpY2sifSx7I;
  --attr81: nBhdGgiOiIuL3RyYWNrcy8xMS5tcDMiLCJuYW1lIj;
  --attr82: oiSSdtIE5vdCBUaGUgT25seSBPbmUiLCJhcnRpc3Q;
  --attr83: iOiJTYW0gU21pdGgifSx7InBhdGgiOiIuL3RyYWNr;
  --attr84: cy8xNC5tcDMiLCJuYW1lIjoiSW5maW5pdGUiLCJhc;
  --attr85: nRpc3QiOiJWYWxlbmNlIn0seyJwYXRoIjoiLi90cm;
  --attr86: Fja3MvMzMubXAzIiwibmFtZSI6IkluIE15IE1pbmQ;
  --attr87: iLCJhcnRpc3QiOiJEeW5vcm8gJiBHaWdpIEQnQWdv;
  --attr88: c3Rpbm8ifSx7InBhdGgiOiIuL3RyYWNrcy80Mi5tc;
  --attr89: DMiLCJuYW1lIjoiQnVpbGQgYSBCaXRjaCIsImFydG;
  --attr90: lzdCI6IkJlbGxhIFBvYXJjaCJ9LHsicGF0aCI6Ii4;
  --attr91: vdHJhY2tzLzQ0Lm1wMyIsIm5hbWUiOiJCYWJlbCIs;
  --attr92: ImFydGlzdCI6Ikd1c3Rhdm8gQnJhdmV0dGkifSx7I;
  --attr93: nBhdGgiOiIuL3RyYWNrcy8zNS5tcDMiLCJuYW1lIj;
  --attr94: oiVGhlbWUgb2YgS2FnZSIsImFydGlzdCI6IlNvbkh;
  --attr95: pc2FrbyJ9LHsicGF0aCI6Ii4vdHJhY2tzLzI0Lm1w;
  --attr96: MyIsIm5hbWUiOiJTdGF5IiwiYXJ0aXN0IjoiVGhlI;
  --attr97: EtpZCBMQVJPSSwgSnVzdGluIEJpZWJlciJ9LHsicG;
  --attr98: F0aCI6Ii4vdHJhY2tzLzIxLm1wMyIsIm5hbWUiOiJ;
  --attr99: Sb3NlcyIsImFydGlzdCI6IlRoZSBDaGFpbnNtb2tl;
  --attr100: cnMifSx7InBhdGgiOiIuL3RyYWNrcy81Ni5tcDMiL;
  --attr101: CJuYW1lIjoiV2FpdGVkIDQgVSAoT0RFU1pBIFJlbW;
  --attr102: l4KSIsImFydGlzdCI6IlNsb3cgTWFnaWMifSx7InB;
  --attr103: hdGgiOiIuL3RyYWNrcy80Ny5tcDMiLCJuYW1lIjoi;
  --attr104: dGhpcyBpcyB3aGF0IGZhbGxpbmcgaW4gbG92ZSBmZ;
  --attr105: WVscyBsaWtlIiwiYXJ0aXN0IjoiSlZLRSJ9LHsicG;
  --attr106: F0aCI6Ii4vdHJhY2tzLzM4Lm1wMyIsIm5hbWUiOiJ;
  --attr107: EcmluayBBIFlhayIsImFydGlzdCI6IkppZGFub2Z1;
  --attr108: In0seyJwYXRoIjoiLi90cmFja3MvMTIubXAzIiwib;
  --attr109: mFtZSI6ImluIGx1diB3aXRoIHUiLCJhcnRpc3QiOi;
  --attr110: JweHp2YyJ9LHsicGF0aCI6Ii4vdHJhY2tzLzI5Lm1;
  --attr111: wMyIsIm5hbWUiOiJJIEFpbid0IFdvcnJpZWQiLCJh;
  --attr112: cnRpc3QiOiJPbmVSZXB1YmxpYyJ9LHsicGF0aCI6I;
  --attr113: i4vdHJhY2tzLzQzLm1wMyIsIm5hbWUiOiJIZXJlIC;
  --attr114: hMdWNpYW4gUmVtaXgpIiwiYXJ0aXN0IjoiQWxlc3N;
  --attr115: pYSBDYXJhIn0seyJwYXRoIjoiLi90cmFja3MvMjUu;
  --attr116: bXAzIiwibmFtZSI6IlN0aWxsIEQuUi5FLiIsImFyd;
  --attr117: GlzdCI6IkRyLiBEcmUifSx7InBhdGgiOiIuL3RyYW;
  --attr118: Nrcy85Lm1wMyIsIm5hbWUiOiJHb29kYnllcyIsImF;
  --attr119: ydGlzdCI6IlBvc3QgTWFsb25lIn0seyJwYXRoIjoi;
  --attr120: Li90cmFja3MvNC5tcDMiLCJuYW1lIjoiTG92ZXJib;
  --attr121: 3kiLCJhcnRpc3QiOiJBLVdhbGwifSx7InBhdGgiOi;
  --attr122: IuL3RyYWNrcy8yMC5tcDMiLCJuYW1lIjoiUGVyZmV;
  --attr123: jdCBUaW1lIiwiYXJ0aXN0IjoiVG9ieSBUcmFudGVy;
  --attr124: In0seyJwYXRoIjoiLi90cmFja3MvMzkubXAzIiwib;
  --attr125: mFtZSI6IkNhbGwgbWUiLCJhcnRpc3QiOiI5MHNGbG;
  --attr126: F2In0seyJwYXRoIjoiLi90cmFja3MvNTEubXAzIiw;
  --attr127: ibmFtZSI6IkludG8gWW91ciBBcm1zIChNZWxvZHkg;
  --attr128: KyBObyBSYXApIiwiYXJ0aXN0IjoiV2l0dCBMb3dye;
  --attr129: SBmdCBBdmEgTWF4In0seyJwYXRoIjoiLi90cmFja3;
  --attr130: MvNTcubXAzIiwibmFtZSI6Ik1hc2sgT2ZmIiwiYXJ;
  --attr131: 0aXN0IjoiRnV0dXJlIn0seyJwYXRoIjoiLi90cmFj;
  --attr132: a3MvNTgubXAzIiwibmFtZSI6IkNvbWluZyBJbiBIb;
  --attr133: 3QiLCJhcnRpc3QiOiJMZWNyYWUgJiBBbmR5IE1pbm;
  --attr134: VvIn0seyJwYXRoIjoiLi90cmFja3MvNTkubXAzIiw;
  --attr135: ibmFtZSI6IkRhbmNpbiAoS3Jvbm8gUmVtaXgpIiwi;
  --attr136: YXJ0aXN0IjoiQWFyb24gU21pdGgifSx7InBhdGgiO;
  --attr137: iIuL3RyYWNrcy82MC5tcDMiLCJuYW1lIjoiR29kJ3;
  --attr138: MgUGxhbiIsImFydGlzdCI6IkRyYWtlIn0seyJwYXR;
  --attr139: oIjoiLi90cmFja3MvNjEubXAzIiwibmFtZSI6IkJh;
  --attr140: YnkgSSdtIFlvdXJzIiwiYXJ0aXN0IjoiQnJlYWtib;
  --attr141: 3QifSx7InBhdGgiOiIuL3RyYWNrcy82Mi5tcDMiLC;
  --attr142: JuYW1lIjoiQXJjYWRlIiwiYXJ0aXN0IjoiRHVuY2F;
  --attr143: uIExhdXJlbmNlIn0seyJwYXRoIjoiLi90cmFja3Mv;
  --attr144: NjMubXAzIiwibmFtZSI6Imp1c3QgdGhlIHR3byBvZ;
  --attr145: iB1cyIsImFydGlzdCI6Imdyb3ZlciB3YXNoaW5ndG;
  --attr146: 9uIGpyIn0seyJwYXRoIjoiLi90cmFja3MvNjQubXA;
  --attr147: zIiwibmFtZSI6IkJ1dHRlcmN1cCIsImFydGlzdCI6;
  --attr148: IkphY2sgU3RhdWJlciJ9LHsicGF0aCI6Ii4vdHJhY;
  --attr149: 2tzLzY1Lm1wMyIsIm5hbWUiOiJBZ2FpbiIsImFydG;
  --attr150: lzdCI6Ik5vYWggQ3lydXMifSx7InBhdGgiOiIuL3R;
  --attr151: yYWNrcy82Ni5tcDMiLCJuYW1lIjoiTm90IEFyb3Vu;
  --attr152: ZCIsImFydGlzdCI6Ik5vdmEifSx7InBhdGgiOiIuL;
  --attr153: 3RyYWNrcy82Ny5tcDMiLCJuYW1lIjoiTmV2ZXIgQm;
  --attr154: UgTGlrZSBZb3UiLCJhcnRpc3QiOiJGbHVtZSBmZWF;
  --attr155: 0LiBLYWkifSx7InBhdGgiOiIuL3RyYWNrcy82OC5t;
  --attr156: cDMiLCJuYW1lIjoiZWRhbWFtZSIsImFydGlzdCI6I;
  --attr157: mJibm8kICYgUmljaCBCcmlhbiJ9LHsicGF0aCI6Ii;
  --attr158: 4vdHJhY2tzLzY5Lm1wMyIsIm5hbWUiOiJNYW4ncyB;
  --attr159: Ob3QgSG90IiwiYXJ0aXN0IjoiQmlnIFNoYXEifSx7;
  --attr160: InBhdGgiOiIuL3RyYWNrcy83MC5tcDMiLCJuYW1lI;
  --attr161: joiVGhlIEJveCIsImFydGlzdCI6IlJvZGR5IFJpY2;
  --attr162: NoIn0seyJwYXRoIjoiLi90cmFja3MvNzEubXAzIiw;
  --attr163: ibmFtZSI6IlRyYW1wb2xpbmUiLCJhcnRpc3QiOiJT;
  --attr164: SEFFRCJ9LHsicGF0aCI6Ii4vdHJhY2tzLzcyLm1wM;
  --attr165: yIsIm5hbWUiOiJXYXkgRG93biBXZSBHbyIsImFydG;
  --attr166: lzdCI6IktBTEVPIn0seyJwYXRoIjoiLi90cmFja3M;
  --attr167: vNzMubXAzIiwibmFtZSI6IlJvc2VzIChJbWFuYmVr;
  --attr168: IFJlbWl4KSIsImFydGlzdCI6IlNBSU50IEpITiJ9L;
  --attr169: HsicGF0aCI6Ii4vdHJhY2tzLzc0Lm1wMyIsIm5hbW;
  --attr170: UiOiJJIEZlZWwgTGlrZSBJJ20gRHJvd25pbmciLCJ;
  --attr171: hcnRpc3QiOiJUd28gRmVldCJ9LHsicGF0aCI6Ii4v;
  --attr172: dHJhY2tzLzc1Lm1wMyIsIm5hbWUiOiJEaXNjbG9zd;
  --attr173: XJlIiwiYXJ0aXN0IjoiTGF0Y2ggZmVhdC4gU2FtIF;
  --attr174: NtaXRoIn0seyJwYXRoIjoiLi90cmFja3MvNzYubXA;
  --attr175: zIiwibmFtZSI6IkhlYXQgV2F2ZXMiLCJhcnRpc3Qi;
  --attr176: OiJHbGFzcyBBbmltYWxzIn0seyJwYXRoIjoiLi90c;
  --attr177: mFja3MvNzcubXAzIiwibmFtZSI6IldlIEFyZSBZb3;
  --attr178: VuZyIsImFydGlzdCI6IkZ1bi4gZmVhdC4gSmFuZWx;
  --attr179: sZSBNb25hZSJ9LHsicGF0aCI6Ii4vdHJhY2tzLzc4;
  --attr180: Lm1wMyIsIm5hbWUiOiJBY2VzIiwiYXJ0aXN0IjoiR;
  --attr181: EtKIn0seyJwYXRoIjoiLi90cmFja3MvNzkubXAzIi;
  --attr182: wibmFtZSI6IkFjZXMiLCJhcnRpc3QiOiJES0oifSx;
  --attr183: 7InBhdGgiOiIuL3RyYWNrcy84MC5tcDMiLCJuYW1l;
  --attr184: IjoiVG94aWMiLCJhcnRpc3QiOiJCb3lXaXRoVWtlI;
  --attr185: n0seyJwYXRoIjoiLi90cmFja3MvODEubXAzIiwibm;
  --attr186: FtZSI6IkRlZXAgRW5kIiwiYXJ0aXN0IjoiRm91c2h;
  --attr187: lZSJ9LHsicGF0aCI6Ii4vdHJhY2tzLzgyLm1wMyIs;
  --attr188: Im5hbWUiOiJBZnRlciBEYXJrIiwiYXJ0aXN0IjoiT;
  --attr189: XIuS2l0dHkifSx7InBhdGgiOiIuL3RyYWNrcy84My;
  --attr190: 5tcDMiLCJuYW1lIjoiaG90IGdpcmwgYnVtbWVyIiw;
  --attr191: iYXJ0aXN0IjoiYmxhY2tiZWFyIn0seyJwYXRoIjoi;
  --attr192: Li90cmFja3MvODQubXAzIiwibmFtZSI6IkZhbGxpb;
  --attr193: mciLCJhcnRpc3QiOiJUcmV2b3IgRGFuaWVsIn0sey;
  --attr194: JwYXRoIjoiLi90cmFja3MvODUubXAzIiwibmFtZSI;
  --attr195: 6IkVtcGlyZSBTdGF0ZSBPZiBNaW5kIiwiYXJ0aXN0;
  --attr196: IjoiSkFZLVogZmVhdC4gQWxpY2lhIEtleXMifV0=;
}

/* MAIN CONTENT */
#main {
  z-index: 5;
  display: flex;
  position: absolute;
  width: 330px;
  height: 330px;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s linear;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

#disk {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  background-color: #000000;
  width: 330px;
  height: 330px;
}

.disk-animation {
  animation: disk-rotate 6s linear 8s infinite;
}

#disk-center {
  position: absolute;
  top: 115px;
  left: 115px;
  border-radius: 100%;
  background-color: red;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#disk svg {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 42px;
  left: 20px;
}

.neon-effect {
  filter: drop-shadow(0px 0px 1px #ffffff) drop-shadow(0px 0px 2px #e4e4e4) drop-shadow(0px 0px 5px #d0d0d0) drop-shadow(0px 0px 10px #b9b9b9) drop-shadow(0px 0px 20px #9e9e9e);
}

#signature {
  transform: translate(-156px, -211px);
  stroke-dasharray: 1422;
  stroke-dashoffset: 1422;
  transition: stroke-dashoffset 4s linear 1s;
}

#bass-effect,
#treble-effect {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  width: 330px;
  height: 330px;
}

#bass-effect {
  background-color: aqua;
}

#treble-effect {
  background-color: red;
}

@keyframes disk-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#main .bar {
  z-index: -1;
  border-radius: 50px;
  height: 5%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* MINI LOGO */
#mini-logo {
  position: absolute;
  bottom: 4vh;
  right: 4vh;
  z-index: -1;
  opacity: 0;
}

#mini-logo .name {
  font-family: "Playfair Display SC";
  font-size: 1.4rem;
}

@keyframes hobbiesAnimation {
  1% {
    transform: translateY(-2.7rem);
  }

  25% {
    transform: translateY(-2.7rem);
  }

  26% {
    transform: translateY(-5.4rem);
  }

  100% {
    transform: translateY(-5.4rem);
  }
}

#mini-logo .hobbies {
  overflow: hidden;
  height: 2.7rem;
  position: relative;
}

#mini-logo .hobbies div {
  position: absolute;
  left: 0px;
  top: 2.7rem;
  font-family: "Permanent Marker", serif;
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffa5eb;
}

/* CELLS */
#app {
  display: grid;
  height: 100%;
  background-size: cover;
  color: white;
  position: relative;
}

.cell {
  z-index: 3;
}

/* DOTS */
.dot {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

#app .dot {
  transition: opacity 1s linear, transform 24s linear;
  z-index: 1;
  position: absolute;
}

/* LOADING SCREEN */
#loading {
  z-index: 6;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: opacity 1s;
}

#loading * {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
}

#loading #prevent-highlight {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

#start-alert {
  opacity: 0;
  position: absolute;
  top: 80vh;
  width: 100%;
}

#start-alert * {
  font-family: sans-serif;
  text-decoration: underline;
  text-align: center;
}

#logo-container {
  position: relative;
  width: 377px;
  display: inline-block;
  transform: scale(1.5);
}

#n-container {
  position: absolute;
  top: 64px;
  left: 77px;
  font-size: 4rem;
}

#uyen-container {
  position: absolute;
  top: 64px;
  left: 190px;
  font-size: 4rem;
}

#randy-container {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 85px;
  left: 139px;
}

#randy-container div {
  position: absolute;
}

#randy-container .highlight {
  top: 5px;
  left: -23px;
  height: 20px;
  width: 81px;
  background-color: #ffa5eb;
}

#randy-container .letter {
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

#randy-container .r {
  left: 0px;
}

#randy-container .a {
  left: 10px;
}

#randy-container .n {
  left: 20px;
}

#randy-container .d {
  left: 30px;
}

#randy-container .y {
  left: 40px;
}

#logo-container svg {
  width: 200px;
  height: 200px;
  fill: white;
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 0 1000;
  animation: logo-rotate 1.5s 2s linear infinite alternate;
  will-change: stroke-dasharray;
}

@keyframes logo-rotate {
  100% {
    stroke-dasharray: 650 1000;
  }
}